config/database.js

.idea/*
node_modules/*
config/secret.js
config/secret_sign.js
package-lock.json
.DS_Store

log/*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

config/secret.js
config/secret_sign.js

